
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locations List</title>
</head>
<body>
    <h2>Locations</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
        <th>Type</th>
    </tr>


        <tr th:each="location:${locations}">
            <td th:text="${location.id}"></td>
            <td th:text="${location.code}"></td>
            <td th:text="${location.name}"></td>
            <td th:text="${location.type}"></td>

            <td><a th:href="@{'deleteLocation?id='+${location.id}}">delete</a></td>
            <td><a th:href="@{'showUpdate?id='+${location.id}}">edit</a></td>
        </tr>


</table>
    <a href="createLocation">Add Location</a>

</body>
</html>